@using Racemate.Common;
@using Microsoft.AspNet.Identity
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";

    object adminArea = new { Area = GlobalConstants.ADMIN_AREA };
    object userArea = new { Area = GlobalConstants.USER_AREA };
    object globalArea = new { Area = String.Empty };
}

<header id="main-header">
    <div id="header-content">
        <a href="@Url.Action("Index", "Home", userArea)" class="logo neutral"><img src="~/Images/logo.png" width="201" height="37" alt="RACEMATE" /></a>
        <div id="authenticated" class="pull-right relative">
            <nav id="menu">
                <a href="@Url.Action("Create", "Race", userArea)"
                   class="nav-item create-race"
                   title="Create Race">
                    <span>New Race</span>
                </a>
                <a href="@Url.Action("List", "Race", userArea)" title="Races" class="nav-item races"></a>
                <div class="nav-item members" title="Members"></div>
                @if(User.IsInRole(GlobalConstants.ADMIN))
                {
                    <a href="@Url.Action("Index", "Reports", adminArea)" title="Reports" class="nav-item reports"></a>
                }
                <div class="nav-item notifications" title="Notifications">
                    <div class="indicator">4</div>
                    <div class="header-menu-holder notific">
                        <div id="notifications" class="drop-down-window">
                            <ul>
                                <li class="unread">You were demoted with 1000pts</li>
                                <li class="unread">You were demoted were demoted with 1000pts</li>
                                <li>You were demoted were demoted with 1000pts</li>
                                <li>You were demoted were with 1000pts</li>
                            </ul>
                            <div><a href="#" class="see-all">See all</a></div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="pull-left profile-info">
                <div>
                    <p class="thin">@User.Identity.GetUserName()</p>
                    <p class="header-pts">3211</p>
                </div>
                <img src="~/Images/misc/avatar.png" width="38" height="38" alt="avatar" />
            </div>
            <div class="header-menu-holder">
                <div id="profile-menu" class="drop-down-window">
                    <ul>
                        <li><a href="#">My Profile</a></li>
                        @if (this.User.IsInRole(GlobalConstants.ADMIN))
                        {
                            <li>@Html.ActionLink("Car Makes", "Index", "CarMakes", adminArea, new { })</li>
                            <li>@Html.ActionLink("Car Models", "Index", "CarModels", adminArea, new { })</li>
                        }
                        <li>@Html.ActionLink("My Races", "MyRaces", "Race", userArea, new { })</li>
                        <li>@Html.ActionLink("Garage", "Index", "Garage", userArea, new { })</li>
                        <li>@Html.ActionLink("Invitations", "Index", "Invitations", userArea, new { })</li>
                        <li>
                            @using (Html.BeginForm("LogOff", "Account", globalArea, FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="main">
    @RenderBody()
</section>
<footer id="main-footer">
    <div class="pull-left logo">
        <img src="~/Images/footer_logo.png" width="32" height="32" alt="logo" />
    </div>
    <div class="pull-left">
        <p>Racemate &copy; @DateTime.Now.Year</p>
        <p class="thin">Organized street racing network</p>
    </div>
    <div class="pull-right footer-menu">
        <a href="#">Create New Race</a>
        <a href="#">List Races</a>
        <a href="#">Members</a>
        <a href="#">FAQ</a>
        <a href="#">POLICY</a>
    </div>
</footer>

@section masterStyles {
    @Styles.Render("~/Content/private")
    @RenderSection("styles", required: false)
}

@section masterScripts {
    @Scripts.Render("~/bundles/general")
    @RenderSection("scripts", required: false)
}