@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div id="background"></div>
<header id="main-header">
    <div id="header-content">
        <a href="@Url.Action("Login", "Account")" class="logo neutral"><img src="~/Images/logo.png" width="201" height="37" alt="RACEMATE" /></a>
        <div class="pull-right relative">
            @Html.ActionLink("Register", "Register", "Account", new {}, new { @class = "button green" })
        </div>
    </div>
</header>
<section id="main-content-holder">
    <div id="main">
        @RenderBody()
    </div>
</section>
<footer id="main-footer">
    <div class="pull-left logo">
        <img src="~/Images/footer_logo.png" width="32" height="32" alt="logo" />
    </div>
    <div class="pull-left">
        <p>Racemate &copy; @DateTime.Now.Year</p>
        <p class="thin">Closed community network</p>
    </div>
</footer>
<script type="text/javascript" src="js/main.js"></script>

@section masterStyles {
    @Styles.Render("~/Content/public")
    @RenderSection("styles", required: false)
}

@section masterScripts {
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)
}