@using Racemate.Web.Helpers.Html;

@model Racemate.Web.Areas.User.ViewModels.Home.HomeViewModel
@{
    ViewBag.Title = "Home";
}

<div class="holder">
    <section class="content relative">
        <h2>Global Map</h2>
        <div id="map-canvas" class="container"></div>
        <div id="enlarge-map" title="Enlarge"></div>
    </section>
    <section class="side pad-right">
        <h2>Latest Races</h2>
        <div class="container no-padding">
            @foreach (var race in Model.LatestRaces)
            {
                <div class="race-thumb">
                    <p>
                        @Html.RaceDetailsLink(race.Id, race.Name)
                        @Html.RaceStatusTag(race.DateTimeOfRace, race.Duration, race.IsFinished, race.IsCanceled, true)
                    </p>
                    <hr />
                    <div class="pull-left">
                        <div><div class="rc-detail location"></div> @Html.StripRaceAddress(race.Address)</div>
                        <div><div class="rc-detail duration"></div> @race.DateTimeOfRace</div>
                    </div>
                    <div class="pull-right additional-info">
                        <div><span class="type">@race.Type</span></div>
                        <div><div class="rc-detail racers"></div> @race.FreeRacePositions (free)</div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>
<h2>Top Racers</h2>
<div class="holder">
    @foreach (var user in Model.TopMembers)
    {
        <div class="member-thumb container">
            @Html.Partial("_MemberThumbCore", user)
        </div>
    }
</div>

@section scripts {
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    @Scripts.Render("~/bundles/globalMap");
}