@using Racemate.Web.Helpers.Html;

@model Racemate.Web.Areas.User.ViewModels.Home.HomeViewModel
@{
    ViewBag.Title = "Home";
}

<div class="holder">
    <section class="content relative">
        <h2>Global Map</h2>
        <div id="map-canvas" class="container"></div>
        <div id="enlarge-map" title="Enlarge"></div>
    </section>
    <section class="side pad-right">
        <h2>Latest Races</h2>
        <div class="container no-padding">
            @foreach (var race in Model.LatestRaces)
            {
                <div class="race-thumb">
                    <p>
                        @Html.ActionLink(race.Name, "Details", "Race", new { Id = race.Id }, new { @class = "title" })
                        @Html.RaceStatusTag(race.DateTimeOfRace, race.Duration, race.IsFinished, race.IsCanceled, true)
                    </p>
                    <hr />
                    <div class="pull-left">
                        <div><div class="rc-detail location"></div> @Html.StripRaceAddress(race.Address)</div>
                        <div><div class="rc-detail duration"></div> @race.DateTimeOfRace</div>
                    </div>
                    <div class="pull-right additional-info">
                        <div><span class="type">@race.Type</span></div>
                        <div><div class="rc-detail racers"></div> @race.FreeRacePositions (free)</div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>
<h2>Top Racers</h2>
<div class="holder">
    @foreach (var user in Model.TopMembers)
    {
        <div class="member-thumb container">
            <img src="/Images/misc/avatar.png" class="avatar" width="50" height="50" alt="" />
            <div class="member-info">
                <p class="username">
                    <a href="#">@user.UserName</a>
                    <span>@user.Points</span>
                </p>
                <hr />
                <span class="position">
                    <span class="medal gold">1</span> @user.FirstPlaces
                </span>
                <span class="position">
                    <span class="medal silver">2</span> @user.SecondPlaces
                </span>
                <span class="position">
                    <span class="medal bronze">3</span> @user.ThirdPlaces
                </span>
            </div>
        </div>
    }
</div>

@section scripts {
    <script>
        //$.ajax({
        //    method: "GET",
        //    url: "/User/Home/MapRaces",
        //    success: function(data) {
        //        console.log(data);
        //    },
        //    error: function() {
        //        console.log("Error");
        //    }
        //});
    </script>
}